MUJOCO_LOG.*
out/
data/
logs/
__pycache__/
*.py[cod]
*.pyo
wandb/
checkpoints/
assets/transition/
third_party/openpi/assets/
third_party/openpi/checkpoints/
videos*/
CachedProfilesData/
User/
wandb/
code-server/
Machine/
*.out
*.err
script_*.sh
*.bak
